<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Minuta4j</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700,700italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../assets/stylesheet/style.css">
    </head>
    <body>
		<div class="breadcrumb">
			<a href="../views/menu.html"><i class="ss-home"></i> Menu /</a>
			<a href="../views/menu_templates.html"><i></i> Templates /</a>
			<a href="../views/novo_template.html"><i></i> Novo /</a>
			<h2>Composi&ccedil;&atilde;o</h2>
		</div>		
		<section class="content container">
			<h4>Composi&ccedil;&atilde;o</h4>
			<div>
				<div class="well mgbttn">
					<div class="row">
							<p class="span4">
								<label>ITEM</label>
								<select>
									<option value="">SELECIONE</option>
									<option value="1" selected>NOME DA TAB</option>
									<option value="2">VALOR DO BEM</option>
									<option value="3">LOGO HYUNDAI</option>
								</select>
							</p>
							<p class="span3">
								<label>VALOR TESTE</label>
								<input type="text" value="MANOCAR LTDA">
							</p>
							<p class="span3">
								<label>CONDI&Ccedil;&Atilde;O</label>
								<select>
									<option value="">SELECIONE</option>
									<option value="1">SUBSEGMENTO IGUAL A 152</option>
								</select>
							</p>
							<p class="span2"><label>&nbsp;</label>
								<a href="javascript:void(0)" class="pull-right btn danger">Excluir</a>
							</p>						
					</div>	
					</div>	
				<div class="well mgbttn">
					<div class="row">
							<p class="span4">
								<label>ITEM</label>
								<select>
									<option value="">SELECIONE</option>
									<option value="1">NOME DA TAB</option>
									<option value="2">NOME DO CLIENTE</option>
									<option value="3" selected>LOGO HYUNDAI</option>
								</select>
							</p>
							<p class="span3">
								<label>VALOR TESTE</label>
								<input type="text">
							</p>
							<p class="span3">
								<label>CONDI&Ccedil;&Atilde;O</label>
								<select>
									<option value="">SELECIONE</option>
									<option value="1" selected>SUBSEGMENTO 152</option>
								</select>
							</p>
							<p class="span2"><label>&nbsp;</label>
								<a href="javascript:void(0)" class="pull-right btn danger">Excluir</a>
							</p>						
					</div>	
					</div>	
					<div class="well mgbttn">
					<div class="row">
							<p class="span4">
								<label>ITEM</label>
								<select>
									<option value="">SELECIONE</option>
									<option value="1">NOME DA TAB</option>
									<option value="2">NOME DO CLIENTE</option>
									<option value="3">LOGO HYUNDAI</option>
									<option value="4" selected>CODIGO DE BARRAS CONTRATO</option>
								</select>
							</p>
							<p class="span3">
								<label>VALOR TESTE</label>
								<input type="text" value="10010123456">
							</p>
							<p class="span3">
								<label>CONDI&Ccedil;&Atilde;O</label>
								<select>
									<option value="" selected>SELECIONE</option>
									<option value="1">SUBSEGMENTO 152</option>
								</select>
							</p>
							<p class="span2"><label>&nbsp;</label>
								<a href="javascript:void(0)" class="pull-right btn danger">Excluir</a>
							</p>						
					</div>	
					</div>	
				<div class="row">
						<p>
							<a href="javascript:void(0)" class="btn">Adicionar</a>
						</p>
					</div>					
				<footer class="button_group">
					<p class="pull-right"><a href="novo_template.html" class="btn confirm big">Confirmar</a></p>
					<p><a href="novo_template.html" class="btn confirm big">Retornar</a></p>
				</footer>
				<input id="inputPhoto"
					   type="file"
					   accept="image/*"
					   style="display:none;" />
			</div>
		</section>   
        <script src="../assets/scripts/jquery.js"></script>
		<script src="../assets/scripts/plugins/angular.js"></script>
		<script src="../assets/scripts/minuta4j.js"></script>
		<script src="../assets/scripts/plugins/picker.js"></script>
        <script src="../assets/scripts/plugins/picker.date.js"></script>
		<script src="../assets/scripts/app.js"></script>
    </body>
</html>