<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Minuta4j</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700,700italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../assets/stylesheet/style.css">
    </head>
    <body>
		<div class="breadcrumb">
			<a href="menu.html"><i class="ss-home"></i> Menu /</a>
			<a><i></i> Documentos</a>
		</div>		
		<section class="content container">
			<h4>Documentos</h4>
			<div>
				<div class="well mgbttn">
					<div class="row">
							<p class="span3">
								<label>Cód. Documento</label>
								<input value="100" type="text">
							</p>
							<p class="span3">
								<label>Nome do Documento</label>
								<input value="FICHA CADASTRAL" type="text">
							</p>
							<p class="span3">
								<label>Template</label>
								<select>
									<option value="">SELECIONE</option>
									<option value="1" selected>FICHA CADASTRAL</option>
								</select>
							</p>	
							<p class="span3">
								<label>Data in&iacute;cio de validade</label>
								<input value="15/12/2016" class="date" type="text">
							</p>					
					</div>	
					</div>			
					<div class="well mgbttn">
					<div class="row">
							<p class="span3">
								<label>Cód. Documento</label>
								<input value="200" type="text">
							</p>
							<p class="span3">
								<label>Nome do Documento</label>
								<input value="CHECKLIST PCP" type="text">
							</p>
							<p class="span3">
								<label>Template</label>
								<select>
									<option value="">SELECIONE</option>
									<option value="1">FICHA CADASTRAL</option>
									<option value="2" selected>PCP</option>
								</select>
							</p>	
							<p class="span3">
								<label>Data in&iacute;cio de validade</label>
								<input value="15/12/2016" class="date" type="text">
							</p>				
					</div>	
					</div>		
					<div class="row">
						<p>
							<a href="javascript:void(0)" class="btn">Adicionar</a>
						</p>
					</div>									
				<footer class="button_group">
					<p class="pull-right"><a href="menu.html" class="btn confirm big">Confirmar</a></p>
					<p><a href="menu.html" class="btn confirm big">Retornar</a></p>
				</footer>
				
			</div>
		</section>    
        <script src="../assets/scripts/jquery.js"></script>
		<script src="../assets/scripts/plugins/angular.js"></script>
		<script src="../assets/scripts/minuta4j.js"></script>
		<script src="../assets/scripts/plugins/picker.js"></script>
        <script src="../assets/scripts/plugins/picker.date.js"></script>
		<script src="../assets/scripts/app.js"></script>
    </body>
</html>