<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Minuta4j</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
		
		<link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700,700italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../assets/stylesheet/style.css">
    </head>
    <body>
		
		<header class="main-header">
			
			<div class="pull-left">
				<h1><a href="#">Minuta4j</a></h1>
				
			</div>
			
			<div class="pull-right">
				<div class="profile-header">
					<div class="dropdown-area"><br>
						Seja Bem-vindo, <a id="userName" href="#" class="dropdown-open"></a>ADMINISTRADOR (Sair)<i class="ss-navigatedown"></i>
						<br>Último acesso: 12/12/2016 ás 16:37 hs
						<div class="dropdown">
							<ul>
								<li><a id="buttonLogout" href="javascript:void(0)">Sair</a></li>
							</ul>
						</div>
					</div>				
				</div>
			</div>
		</header>
		
		<section class="main-content dashboard-new">
			<nav class="main-nav">
				<ul>
					<li><a href="menu_templates.html"><i><span class="icon-template"></span></i> <span>Templates</span></a></li>
					<li><a href="documentos.html"><i><span class="icon-documents"></span></i> <span>Documentos</span></a></li> 
					<li><a href="menu_layout.html"><i><span class="icon-layout"></span></i> <span>Layout</span></a></li>			
					<li><a href="barcode.html"><i><span class="icon-barcode"></span></i> <span>Código de Barras</span></a></li>	
				</ul>
			</nav>
		</section>

        <script src="../assets/scripts/jquery.js"></script>
		<script src="../assets/scripts/plugins/angular.js"></script>
		<script src="../assets/scripts/minuta4j.js"></script>
		<script src="../assets/scripts/app.js"></script>
        <script src="../assets/scripts/index.js"></script>
    </body>
</html>