<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Minuta4j</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
		
		<link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700,700italic" rel="stylesheet" type="text/css">
         <link rel="stylesheet" href="../assets/stylesheet/style.css">
    </head>

    <body>
		<div class="breadcrumb">
			<a href="menu.html"><i class="ss-home"></i> Menu /</a>
			<h2>Templates</h2>
		</div>

		<section class="main-content dashboard-new">
			<nav class="main-nav">
				<ul>
					<li><a href="novo_template.html"><i><span class="icon-add"></span></i> <span>Novo Template</span></a></li>
					<li><a href="editar_template.html"><i><span class="icon-edit"></span></i> <span>Editar Template</span></a></li>
				</ul>
			</nav>
		</section>
        <script src="../assets/scripts/jquery.js"></script>
		<script src="../assets/scripts/plugins/angular.js"></script>
		<script src="../assets/scripts/minuta4j.js"></script>
		<script src="../assets/scripts/app.js"></script>
    </body>
</html>